 body{
  color:black;
  background :#ff;
  position:relative;
 }
 .img-rounded {
  border-radius : 50%;
  }
  .profile-img {
  border: 3px solid #d2d6de;
  }
  .box {
  
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 20px;
	padding-bottom: 5px;
    width: 100%;
	background:white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
 .big {
  font-size : 100px;
  margin-bottom:0;
  position:relative;
 }
 .awal {
 min-height:30vh;
 margin: 6%;
 }
 .input-group{
  margin-top:9px;
 }
 .input-group-addon {
 background:white;
 }
 .login-box{
    width: 360px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;}
.login-header,.navbar-header {
 font-size:35px;
 text-decoration:none;
 line-height:1.5;
}
.navbar .navbar-right {
 font-size:25px;
}
.login-header a,.navbar-header a,.navbar-right a{
 text-decoration:none;
 color:black;
}
.banner-header {
 margin: 5px 5px;
}
.login-body {
 padding : 3%;
}
.tambahan-link {
 margin : 5px 0;
}
.affix {
 width:100%;
 top:0;
 -webkit-transition: all 1s ease-in;
 transition: all 1s ease-in;
}
.affix .affix-top{
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
}
.no-padding{
 padding-right:0;
 padding-left:0;
 margin:auto;
}
.cl-1{
 padding-top: 15%;
 background:url('../image/wide2.jpg') fixed;
 min-height:80vh;
 color:black;
}
.cl-1 p {
 font-size:1.3em;
}
.white-wrap {
 background:white;
 padding : 10px;
 opacity:0.95;
}
.cl-1 h2{
    color: black;
    font-size: 3.5em;
    margin: 10px 0px;
    line-height: 1.2em;
}
.cl-2 {
 padding: 20px ;
 border-bottom: 1px solid lightgrey;
 min-height:30vh;
}
.cl-2 .row {
 margin-top: 30px;
 margin-bottom: 30px;
}
.cl-2 h1{
    color: black;
    font-size: 3em;
    margin: 10px 0px;
    line-height: 1.2em; 
}
.cl-2 h2{
    font-size: 2.4em;
    margin: 10px 0px;
    line-height: 1.2em; 
}
.round {
 width: 150px;
 height: 150px;
 border: 1px solid grey;
 border-radius: 75px;
}
.nominal {
 padding: 10px 10px;
 font-size: 3em;
 line-height: 1em;
}
.grey {background:grey;}.white{background:white;}.red {background:red;
}
.footer {
 background:black;
 color:white;
 padding: 10px 0;
}
/* navbar */
  .affix + .container-fluid {
      padding-top: 70px;
  }
.navbar-header{
 color:black;
}
.navbar {
 border:0;
 border-radius:0;
 margin:0;
 z-index:9 !important;
 opacity:0.95;
 padding: 10px;
}
/* afaf */
.top-menu {
 padding: 10px 10px 10px 0;
 background:whitesmoke;
 font-size: 15px;
 height: 40px;
 margin-left:-15px;
}
.top-menu a {
 color:black;
 text-decoration:none;
}
.top-menu-list li{
 display :inline;
 margin-right: 10px;
}
.top-menu-list li:hover {
 border-bottom: 2px solid lightgrey;
}
.body-profile p {
 line-height : 30px;
 font-size: 23px;
}
.profile a {
 color:black;
 text-decoration:none;
}