@-webkit-keyframes hoverMenu {
  20% {
    color: #fed982; }
  40% {
    color: #fe8282; }
  60% {
    color: #ffaf46; }
  100% {
    color: #fff; } }
@-webkit-keyframes leftToMid {
  0% {
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-webkit-keyframes rightToMid {
  0% {
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-webkit-keyframes topToMid {
  0% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes muncul {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes topToMidHi {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf) format("truetype"); }
/* cyrillic-ext */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans Regular"), local("OpenSans-Regular"), url(../fonts/OpenSans-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Slabo';
  font-style: normal;
  font-weight: 400;
  src: local("Slabo"), url(../fonts/Slabo27px-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PtSans"), url(../fonts/PT_Sans-Web-Regular.ttf) format("truetype"); }
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 14px;
  color: #333; }

a {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.transparant {
  opacity: 0; }

.button {
  text-align: center;
  margin-top: 50px; }
  .button a {
    color: #fff;
    background: #AF191A;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    border-bottom: 2px solid #800d0d;
    transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.1s; }
    .button a:hover {
      color: #aaa;
      background: #800d0d; }

p {
  margin: 10px 0px; }

.clearfix, .row:after, .menu:after, .menu ul:after, .footer ul:after {
  content: " ";
  display: block;
  clear: both;
  float: none; }

.container {
  width: 1100px;
  margin: 0 auto; }

#menu-absolute {
  background: #5C0101; }

.menu {
  z-index: 999;
  position: absolute;
  top: 0px;
  width: 100%;
  overflow: hidden;
  padding: 10px 0px;
  font-weight: 700; }
  .menu .togel-menu {
    display: none;
    float: right;
    font-size: 22px;
    position: relative;
    right: 20px;
    top: 10px; }
    .menu .togel-menu a {
      border-radius: 3px;
      padding: 3px 10px;
      border: 1px solid #961616;
      color: #e1e1e1;
      transition: 0.2s ease-in; }
      .menu .togel-menu a.clicked {
        background: #680a0a;
        border-color: transparent; }
  .menu.color {
    position: fixed;
    background: #5C0101;
    padding: 0px; }
    .menu.color ul {
      margin-top: 17px; }
    .menu.color .logo-menu {
      width: 55px;
      transform: scale(0.7);
      -webkit-transform: scale(0.7); }
  .menu.tampil {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    top: 0px; }
    .menu.tampil .menu {
      padding-top: 20px; }
      .menu.tampil .menu a {
        color: #fff !important; }
        .menu.tampil .menu a:hover {
          color: #333 !important; }
  .menu.sembunyi {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    top: -60px; }
    .menu.sembunyi .menu {
      padding-top: 20px; }
  .menu.on-top {
    transition: background .6s ease .2s;
    -webkit-transition: background .6s ease .2s;
    top: 0px;
    position: fixed; }
  .menu .logo-menu {
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
    margin-left: 30px;
    float: left;
    width: 60px; }
    .menu .logo-menu img {
      width: 100%; }
  .menu ul {
    margin-top: 22px;
    display: block;
    float: right;
    margin-right: 35px;
    list-style-type: none; }
    .menu ul li {
      margin-left: 25px;
      float: left; }
      .menu ul li a {
        color: #fff; }
        .menu ul li a:hover {
          animation: hoverMenu 3s;
          -webkit-animation: hoverMenu 3s;
          animation-iteration-count: infinite;
          -webkit-animation-iteration-count: infinite; }

.login-form {
  border-radius: 5px;
  position: relative;
  z-index: 999999999;
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  background: #fff; }
  .login-form .head {
    padding: 15px 25px;
    border-bottom: 1px solid #eee; }
    .login-form .head strong {
      color: #AF191A; }
  .login-form .body {
    padding: 35px 25px; }
    .login-form .body .img {
      float: left;
      width: 120px; }
      .login-form .body .img img {
        width: 100%; }
    .login-form .body .form {
      float: left;
      width: 330px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box; }
      .login-form .body .form label {
        display: block;
        font-weight: 700; }
      .login-form .body .form input {
        color: #aaa;
        border: 1px solid #ddd;
        width: 100%;
        padding: 5px 15px;
        margin-bottom: 10px;
        transition: ease 0.3s;
        -webkit-transition: ease 0.3s; }
        .login-form .body .form input:focus {
          color: #333;
          border-color: #36a7e4;
          box-shadow: 0px 0px 9px -3px #54dbec; }
  .login-form .bottom {
    padding: 10px 25px;
    border-top: 1px solid #eee; }
    .login-form .bottom button {
      font-size: 14px;
      border: none;
      padding: 5px 15px;
      border-radius: 3px;
      font-weight: 700;
      border-bottom: 2px solid #800d0d;
      background: #AF191A;
      color: #fff;
      float: right; }
      .login-form .bottom button:hover {
        background: #800d0d; }
    .login-form .bottom .batal {
      float: left;
      background: #555;
      border-color: #444; }
      .login-form .bottom .batal:hover {
        background: #444; }

.banner {
  position: relative;
  background-size: cover !important;
  text-align: center;
  background: #0b1923;
  height: 670px;
  width: 100%;
  padding-top: 220px;
  box-sizing: border-box; }
  .banner:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .banner .text, .banner .text-mini, .banner .button {
    position: relative;
    z-index: 9; }
  .banner .text {
    text-align: center;
    display: block;
    color: #eee;
    font-size: 32px;
    font-weight: bold;
    font-family: Slabo; }
  .banner .text-mini {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #bababa;
    color: #bababa;
    font-family: 'PT Sans';
    margin-top: 15px;
    font-size: 13px;
    letter-spacing: 1px; }

.section {
  padding-top: 120px;
  padding-bottom: 110px;
  min-height: 650px; }
  .section .section-title {
    font-size: 26px;
    font-weight: 400;
    color: #655f5f;
    text-align: center; }
    .section .section-title strong {
      color: #AF191A; }
  .section .divider {
    height: 2px;
    background: #9e9898;
    width: 150px;
    margin: 20px auto;
    margin-bottom: 50px; }
    .section .divider:after {
      content: " ";
      float: right;
      display: block;
      height: 100%;
      width: 75px;
      background: #AF191A; }
  .section .content {
    text-align: justify;
    white-space: normal;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    line-height: 23px; }

.tentang-sadaya ul {
  margin-left: 15px;
  list-style-type: square; }
  .tentang-sadaya ul li {
    text-align: justify;
    margin-bottom: 6px; }
.tentang-sadaya .logo {
  float: left;
  width: 150px; }
  .tentang-sadaya .logo.start {
    animation: leftToMid 2s ease-out forwards;
    -webkit-animation: leftToMid 2s ease-out forwards; }
  .tentang-sadaya .logo img {
    width: 100%; }
.tentang-sadaya .text {
  float: left;
  width: 950px;
  padding-left: 30px;
  padding-top: 10px;
  box-sizing: border-box; }
  .tentang-sadaya .text.start {
    animation: rightToMid 2s ease-out forwards;
    -webkit-animation: rightToMid 2s ease-out forwards; }
.tentang-sadaya .img-logo {
  float: left;
  width: 300px; }
  .tentang-sadaya .img-logo img {
    width: 100%; }
.tentang-sadaya .description {
  padding-left: 20px;
  box-sizing: border-box;
  width: 800px;
  float: left; }
.tentang-sadaya .content strong {
  font-size: 18px; }
.tentang-sadaya .content .text-left {
  float: left;
  width: 520px; }
.tentang-sadaya .content .text-right {
  float: right;
  width: 520px; }

.divisi-sadaya {
  background: #f2f2f2; }
  .divisi-sadaya .box {
    text-align: center;
    float: left;
    width: 160px;
    margin: 10px 37px;
    box-sizing: border-box; }
    .divisi-sadaya .box.start {
      animation: topToMid 2s ease-out forwards;
      -webkit-animation: topToMid 2s ease-out forwards; }
    .divisi-sadaya .box:first-child {
      margin-left: 0px; }
    .divisi-sadaya .box:last-child {
      margin-right: 0px; }
    .divisi-sadaya .box .cont-img {
      position: relative; }
      .divisi-sadaya .box .cont-img:after {
        position: absolute;
        left: 71px;
        bottom: -8px;
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid #ddd; }
    .divisi-sadaya .box .image {
      background: #fff;
      width: 160px;
      height: 160px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #ddd;
      box-sizing: border-box; }
      .divisi-sadaya .box .image img {
        margin-top: 15%;
        height: 70%; }
    .divisi-sadaya .box .title {
      display: inline-block;
      margin-top: 33px;
      padding: 2px 7px;
      font-family: OpenSans;
      text-align: center;
      font-size: 14px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 700;
      color: #ea6565;
      border: 2px solid #ddd; }

.galeri {
  background: #f2f2f2; }
  .galeri .box {
    position: relative;
    float: left;
    width: 265px;
    height: 265px;
    margin: 6px;
    overflow: hidden; }
    .galeri .box.start {
      animation: topToMid 1s ease-out forwards;
      -webkit-animation: topToMid 1s ease-out forwards; }
    .galeri .box:first-child {
      margin-left: 0px; }
    .galeri .box:last-child {
      margin-right: 0px; }
    .galeri .box:after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      display: block;
      content: " ";
      cursor: pointer;
      opacity: 0;
      transition: ease 0.3s;
      -webkit-transition: ease 0.3s;
      background: rgba(111, 8, 8, 0.6); }
    .galeri .box:hover:after {
      opacity: 1; }
    .galeri .box img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }

.prestasi li {
  font-size: 20px;
  list-style-type: square;
  color: #AF191A; }
  .prestasi li.start {
    animation: topToMid 1s ease-out forwards;
    -webkit-animation: topToMid 1s ease-out forwards; }
  .prestasi li span {
    position: relative;
    top: -3px;
    font-size: 16px;
    color: #333; }

.moto-sadaya {
  min-height: 0px !important;
  padding-top: 100px;
  min-height: 150px;
  background-size: cover !important; }
  .moto-sadaya .content {
    text-align: center; }
  .moto-sadaya .text {
    color: #fff;
    margin-top: 40px;
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: 36px; }
  .moto-sadaya .child {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    font-family: 'PT Sans';
    padding: 3px 10px; }

.kontak .box {
  float: left;
  width: 500px; }
.kontak .right {
  width: 600px; }
  .kontak .right.start {
    animation: leftToMid 1s ease-out forwards;
    -webkit-animation: leftToMid 1s ease-out forwards; }
.kontak ul {
  list-style-type: none;
  margin-left: 100px; }
  .kontak ul li {
    margin-bottom: 30px; }
    .kontak ul li.start {
      animation: rightToMid 1s ease-out forwards;
      -webkit-animation: rightToMid 1s ease-out forwards; }
    .kontak ul li span {
      position: relative;
      top: 13px;
      left: 20px;
      display: inline-block; }
    .kontak ul li .logo {
      vertical-align: top;
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 2px solid #555; }
      .kontak ul li .logo i {
        position: relative;
        color: #555;
        font-size: 25px; }

.footer {
  padding: 10px 30px;
  padding-top: 45px;
  background: #333;
  color: #aaa; }
  .footer .copyright {
    margin-top: 12px;
    float: left; }
    .footer .copyright a {
      color: #ddd; }
      .footer .copyright a:hover {
        color: #ff9494; }
  .footer .sosmed {
    float: right; }
  .footer ul {
    list-style-type: none;
    margin-left: 100px; }
    .footer ul li {
      float: left;
      margin-left: 20px;
      margin-bottom: 30px; }
      .footer ul li .logo {
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #666;
        transition: ease 0.3s;
        -webkit-transition: ease 0.3s; }
        .footer ul li .logo:hover i {
          color: #fff; }
        .footer ul li .logo.twitter:hover {
          background: #0084b4;
          border-color: #0084b4; }
        .footer ul li .logo.facebook:hover {
          background: #3b5998;
          border-color: #3b5998; }
        .footer ul li .logo.instagram:hover {
          background: #cd486b;
          border-color: #cd486b; }
        .footer ul li .logo.email:hover {
          background: #e95950;
          border-color: #e95950; }
        .footer ul li .logo i {
          position: relative;
          color: #666;
          font-size: 22px; }

.team-sadaya {
  background: #fff; }
  .team-sadaya .box {
    text-align: center;
    float: left;
    width: 219px;
    margin: 10px 37px;
    box-sizing: border-box; }
    .team-sadaya .box:first-child {
      margin-left: 0px; }
    .team-sadaya .box:last-child {
      margin-right: 0px; }
    .team-sadaya .box .cont-img {
      position: relative; }
      .team-sadaya .box .cont-img:after {
        position: absolute;
        left: 101px;
        bottom: -8px;
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid #ddd; }
    .team-sadaya .box .image {
      margin: 0 auto;
      background: #fff;
      width: 160px;
      height: 160px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid #ddd;
      box-sizing: border-box; }
      .team-sadaya .box .image img {
        background-size: cover;
        width: 100%; }
    .team-sadaya .box .title {
      display: inline-block;
      margin-top: 33px;
      padding: 2px 7px;
      font-family: OpenSans;
      text-align: center;
      font-size: 14px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 700;
      color: #ea6565; }
    .team-sadaya .box .sub-title {
      color: #666;
      font-style: italic;
      background-size: cover; }

@media screen and (max-width: 768px) {
  .login-form {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px; }
    .login-form .body .img {
      float: none;
      margin: 0 auto; }
    .login-form .body .form {
      width: 100%; }

  #menu-absolute {
    position: relative;
    background: #AF191A; }

  .container {
    padding: 0px 10px;
    width: 90%; }

  .banner {
    height: 500px;
    padding-top: 120px; }
    .banner .text {
      font-size: 26px; }
    .banner .text-mini {
      margin-left: 10px;
      margin-right: 10px; }

  .section {
    padding-top: 50px;
    padding-bottom: 70px; }

  .menu {
    padding: 0px;
    position: relative;
    background: #AF191A;
    margin-top: 0px; }
    .menu .logo-menu {
      position: relative;
      margin-left: 0px;
      top: 5px;
      left: 20px;
      width: 40px; }
    .menu .togel-menu {
      display: block; }
    .menu ul {
      margin-bottom: 0px;
      overflow: hidden;
      max-height: 0px;
      margin-top: 50px;
      margin-right: 0px;
      float: none; }
      .menu ul.show {
        transition: max-height 0.3s ease-in;
        -webkit-transition: max-height 0.3s ease-in;
        overflow: visible;
        max-height: 1000px; }
      .menu ul li {
        border-bottom: 1px solid #842223;
        float: none;
        display: block;
        margin-left: 0px; }
        .menu ul li a {
          border-bottom: 1px solid #750D0E;
          padding: 10px 20px;
          display: block;
          background: #7E1718; }
          .menu ul li a:hover {
            color: #aaa;
            animation: none;
            -webkit-animation: none; }

  .google-maps {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden; }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

  .team-sadaya .box {
    float: none;
    margin: 0px;
    width: 100%; }

  .tentang-sadaya .description {
    width: 100%; }
  .tentang-sadaya .img-logo {
    width: 100%; }
  .tentang-sadaya .content .text-left, .tentang-sadaya .content .text-right {
    float: none;
    width: 100%; }
  .tentang-sadaya .content .text-left {
    margin-bottom: 50px; }
  .tentang-sadaya .logo, .tentang-sadaya .text {
    float: none;
    margin: 0 auto; }
  .tentang-sadaya .text {
    padding-left: 0px;
    width: 100%; }

  .divisi-sadaya .box, .galeri .box {
    float: none;
    margin: 20px auto !important; }

  .prestasi ul {
    margin-left: 20px; }

  .moto-sadaya .text {
    margin-top: 10px;
    line-height: 30px; }

  .kontak .box {
    width: 100%; }
  .kontak .right {
    width: 100%;
    overflow: scroll; }
  .kontak ul {
    margin-top: 20px;
    margin-left: 10px; }

  .footer .copyright, .footer .sosmed {
    float: none;
    margin-left: 0px; }
  .footer .sosmed {
    margin: 0 auto;
    width: 265px;
    margin-top: 20px;
    display: block; }
  .footer .copyright {
    text-align: center; } }

/*# sourceMappingURL=mainstyle.css.map */
